@{
    ViewData["Title"] = "Game table head view";
}

<thead class="table-head-fixed tab">
    <tr>
        <th scope="col">
            <a type="button" class="btn btn-primary py-1 px-1" asp-controller="Games" asp-action="Create">
                + New Game
            </a>
        </th>
        <th scope="col">Date</th>
        <th scope="col">Home Team</th>
        <th scope="col">Away Team</th>
        <th scope="col">Result</th>
</thead>
