@{
    ViewData["Title"] = "Table view";
    var modelName = Model.GetType().Name.ToString();
}

<div class="row">
    <div class="text-center" style="margin:auto">
        <hr />
        <table class="table-hover table-striped" width="100%" border="1" cellspacing="2" cellpadding="4">
            <partial name=@($"{modelName}HeadPartial") />
            <tbody>
                <partial name=@($"{modelName}BodyPartial") />
            </tbody>
        </table>
    </div>
</div>
