@{
    ViewData["Title"] = "Table head view";
}

<thead class="table-head-fixed tab">
    <tr>
        <th scope="col">
            <a type="button" class="btn btn-primary py-1 px-1" asp-area="" asp-controller="Teams" asp-action="Create">
                + New Team
            </a>
        </th>
        <th scope="col">Name</th>
        <th scope="col">Games</th>
        <th scope="col">Goals For</th>
        <th scope="col">Goals Against</th>
        <th scope="col">Goal Difference</th>
        <th scope="col">Points</th>
</thead>
